<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ID:<%= id %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1 style="font-size: 2.5rem;"><%= name %></h1>
    <button onclick="controls()" style="font-size: 1.1rem;">show controls</button>
    <br>
    <br>
    <button onclick="play()" style="font-size: 1.5rem;">PLAY</button>
    <button onclick="pause()" style="font-size: 1.5rem;">PAUSE</button>
    <h4 id="debug"></h4>

    <audio id="myAudio" controls>
        <source src='./downloads/<%= id %>.mp3' type="audio/mp3">
        Your browser does not support the audio element.
      </audio>

    <script>
    let error = `<%= error %>`
    document.querySelector("#debug").innerText = error

var audio = document.getElementById("myAudio");
audio.volume = 0.5;
audio.play()
audio.controls = false;

        function pause() {
        audio.pause()
        }
        function play() {
        audio.play()
        }
        function controls() {
        audio.controls ? audio.controls = false: audio.controls = true
        }

    // const id = `<%= id %>`
    // var audio = new Audio(`./downloads/${id}.mp3`)
    //     audio.volume = 0.5;
    //     audio.play()
    //     function pause() {
    //     audio.pause()
    //     }
    //     function play() {
    //     audio.play()
    //     }
    </script>
</body>
</html>